/*font-family: 'Bebas Neue', cursive;*/
/*font-family: 'Montserrat', sans-serif;
*/
/*font-family: 'Alfa Slab One', cursive;*/

header{
	background-color: #FFC23C;
	padding:15px 0;
}
.logo{}
.menu{}
.menu ul li a{
	font-family: 'Bebas Neue', cursive;
	font-size: 22px;
	font-weight: 400;
	color: #3d2514 !important;
	padding: 0 40px !important;
	transition: .3s;
}

.menu ul li a:hover{
	color: white !important;
}

.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 700px;
	margin-bottom: 80px;
}

.c_img{
	margin-top: 30px;
	margin-bottom: 80px;
	
}

/*.rt1_img{
	margin-top: 30px;
	margin-bottom: 80px;
	
}*/


.y_bar{
	background-color: #FFC23C;
	width: 250px;
	height: 40px;
	margin: 0 auto;
	position:relative;
}

.y_bar h4{
	position: absolute;
	left: 0;
	right: 0;
    margin-top: 8px;
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
}

.choose{
	margin-top: 60px;
}

.choose h1{
	font-size: 50px;
	font-family:  'Alfa Slab One', cursive;
	color: #3d2514;	
}

.choose p{
	font-family:  'Montserrat', sans-serif;
	font-size: 16px;
	
}

.order{
	margin-top: 50px;
	margin-bottom: 150px;
}
.order h1{
	font-size: 35px;
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;	
	text-align: center;
}


.order p{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;	
	text-align: center;
}

.order button{
	background-color: #DF1C1C; 
	color: white;
	height: 50px;
	width: 180px;
	font-family:  'Alfa Slab One', cursive;
	font-size: 20px;
	margin: 0 80px;
	transition: .3s;
	border-radius: none;
}

.order button:hover{
	background-color: transparent;
	color:#DF1C1C; 
	border-color: #DF1C1C; 
}


.slider{
	margin-bottom: 200px;
}


.cid{
	    right: 550px;
}

.cid li{

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFC23C;
  
 }

 .french_sli{

 }

 .s_text{
 	    margin-top: 40px;
 }

.s_text h2{
	font-family:  'Bebas Neue', cursive;
	font-size: 25px;
	font-weight: 400px;
	color: #3d2514;	
	margin-bottom: 1px;
}

.s_text h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 40px;
	font-weight: 700px;
	color: #3d2514;	
}

footer{
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
	margin-bottom: 50px;

}


.f_left{
	margin-top: 80px;
}


.f_left p{
      color: white;
      margin-top: 35px;
}

.f_right{
	color: white;
}

.social_icon{
	margin-left: 200px;
	margin-top: 150px;
	font-size: 25px;
}

.social_icon ul li i{
	color: white;

}